@page
@{
    ViewData["Title"] = "Thank you!";
}

        
        <div class="contact-thanks">
            
            <div class="contact-thanks__wrap">
                
                <div class="contact-thanks__box">
                    <div class="form-caption">
                        <h1 class="h2">THANK YOU!</h1>
                        <p>YOUR APPLICATION IS DEVELOPING! OUR CONSULTANTS WILL CONTACT YOU SOON</p>
                    </div>

                    <p>The application does not oblige you to anything. Our manager will contact you to clarify the details and answer all your questions.</p>
                    

                    <div class="contact-thanks__actions"><a class="button button-shadow" href="/">Home</a></div>
                    
                </div>
                
            </div>
            
        </div>
        
